.content {
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 0.5rem;
	margin: auto;
}

.info {
	border: 1px solid #ccc;
	display: flex;
	width: 100%;
	justify-content: space-around;
	margin: 1rem 0;
	border-radius: 0.5rem;
	background-color: #ccc;
}

.like {
	padding: 1rem;
	color: red;
}

.comment {
	padding: 1rem;
	color: blue;
}

.hide {
	display: none;
}

.show {
	display: block;
	border: 1px solid #ccc;
	padding: 1rem;
	border-radius: 0.5rem;
}

.send {
	padding: 1rem;
	border-bottom: 1px solid #ccc;
}

.commentList {
	margin: 1rem;
}

.singleComment {
	margin: 2rem 0;
}

.commentName {
	text-decoration: underline;
}
